<form class="championDisplay">
  <a href="#" class="removeChamp"><img src="{{image}}" style="height:auto; width:auto; max-width:150px; max-height:150px;" class="champ-image"></a>
  <h2 class="your-champion">Champion Selected: {{name}}</h2>
</form>
