<header>
  <div class="header-title">
    <img class="beer-mug-left" style="height:auto; width:auto; max-width:50px; max-height:50px;" src="../../images/beer-mug.png">
    <h1 class="title">Drunken Diplomacy</h1>
    <img class="beer-mug-right" style="height:auto; width:auto; max-width:50px; max-height:50px;" src="../../images/beer-mug.png">
  </div>

  <div class="instructions">
    <h2 class="instruction-header">Instructions</h2>
    <div class="instruction-list">
      <p>1. Select one of the world leaders to be your champion.</br>
        2. One of the other leaders will be randomly selected to be your drinking buddy.</br>
        3. Click the "Go To The Bar!" button to start the game. </br>
        4. Once you're at the bar, select a drink to buy for your drinking buddy. </br>
        5. The first player to pass out loses.</br>
      </p>
    </div>

    <button class="go-to-bar">Go To The Bar!</button>
  </div>

  <div class="display"></div>

</header>


<div class="main-container">

  <form class="leader-buttons">

    <div class="top-line">
      <button class="Cameron champSelect">
        <input type="image" name="Cameron" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Cameron.png">
      </button>

      <button class="Putin champSelect">
        <input type="image" name="Putin" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Putin.png">
      </button>
    </div>

    <div class="second-line">
      <button class="Hollande champSelect">
        <input type="image" name="Hollande" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Hollande.png">
      </button>

      <button class="Merkel champSelect">
        <input type="image" name="Merkel" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Merkel.png">
      </button>
    </div>

    <div class="third-line">
      <button class="Obama champSelect">
        <input type="image" name="Obama" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Obama.png">
      </button>

      <button class="Al-Assad champSelect">
        <input type="image" name="Al-Assad" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Al-Assad.png">
      </button>

      <button class="Jong-un champSelect">
        <input type="image" name="Jong-un" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Jong-un.png">
      </button>
    </div>

    <div class="fourth-line">
      <button class="Castro champSelect">
        <input type="image" name="Castro"style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Castro.png">
      </button>
    </div>

    <div class="fifth-line">
      <button class="Mugabe champSelect">
        <input type="image" name="Mugabe" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Mugabe.png">
      </button>
    </div>

    <div class="bottom-line">
      <button class="Abbott champSelect">
        <input type="image" name="Abbott" style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Abbott.png">
      </button>
    </div>

  </form>

</div>
