<header>
  <div class="header-title">
    <img class="beer-mug-left" style="height:auto; width:auto; max-width:50px; max-height:50px;" src="../../images/beer-mug.png">
    <h1 class="title">Drunken Diplomacy</h1>
    <img class="beer-mug-right" style="height:auto; width:auto; max-width:50px; max-height:50px;" src="../../images/beer-mug.png">
  </div>

  <div class="instructions">
    <h2 class="instruction-header">Instructions</h2>
    <div class="instruction-list">
      <p>1. Select one of the world leaders to be your champion.</br>
        2. One of the other leaders will be randomly selected to be your drinking buddy.</br>
        3. Click the "Go To The Bar!" button to start the game. </br>
        4. Once you're at the bar, select a drink to buy for your drinking buddy. </br>
        5. The first player to pass out loses.</br>
      <p>

    <button class="go-to-bar">Go To The Bar!</button>
</header>

<div class="main-container">

  <div class="leader-buttons">

    <div class="top-line">
      <button class="champSelect Cameron">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/David-Cameron.png">
      </button>

      <button class="champSelect Putin">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/vladimir-putin.png">
      </button>
    </div>

    <div class="second-line">
      <button class="champSelect Hollande">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/francois-hollande.png">
      </button>

      <button class="champSelect Merkel">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Angela-Merkel.png">
      </button>
    </div>

    <div class="third-line">
      <button class="champSelect Obama">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Barack-Obama.png">
      </button>

      <button class="champSelect Al-Assad">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/bashar-al-assad.png">
      </button>

      <button class="champSelect Jong-un">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/kim-jong-un.png">
      </button>
    </div>

    <div class="fourth-line">
      <button class="champSelect Castro">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/raul-castro.png">
      </button>
    </div>

    <div class="fifth-line">
      <button class="champSelect Mugabe">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/robert-mugabe.png">
      </button>
    </div>

    <div class="bottom-line">
      <button class="champSelect Abbott">
        <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="../images/characters/Tony-Abbott.png">
      </button>
    </div>

  </div>

</div>
