<div class="main-container-lose">

  <div class="lose-container">

    <h1 class="loser-header">Loser!</h1>

    <div class="playerLoses"></div>

    <div class="loser-name"></div>

    <div class="loser-buttons">
      <button class="new-game">New Game</button>
      <button class="rematch">Rematch</button>
    </div>

  </div>

</div>
