<div class="main-container-lose">

  <div class="lose-container">

    <h1 class="loser-header">Loser!</h1>

    <img class="loser-image" style="height:auto; width:auto; max-width:230px; max-height:230px;" src="../images/characters/Barack-Obama.png">

    <h2 class="loser-name">Barack Obama</h2>

    <div class="loser-buttons">
      <button class="new-game">New Game</button>
      <button class="rematch">Rematch</button>
    </div>

  </div>

</div>
