<div class="main-container-win">

  <div class="win-container">

    <h1 class="winner-header">WINNER!</h1>

    <img class="winner-image" style="height:auto; width:auto; max-width:230px; max-height:230px;" src="../images/characters/Barack-Obama.png">

    <h2 class="winner-name">Barack Obama</h2>

    <div class="winner-buttons">
      <button class="new-game">New Game</button>
      <button class="rematch">Rematch</button>
    </div>

  </div>

</div>
