<div class="main-container-win">

  <div class="win-container">

    <h1 class="winner-header">WINNER!</h1>

    <div class="playerWins"></div>

    <div class="winner-name"></div>

    <div class="winner-buttons">
      <button class="new-game">New Game</button>
      <button class="rematch">Rematch</button>
    </div>

  </div>

</div>
